
((digest . "1d498189a6b5fa5932cf663ccf1a91a2") (undo-list (267 . 268) nil ("    " . -261) 271 nil (265 . 271) nil (261 . 265) ("      " . -252) (266 . 267) nil (256 . 266) nil (248 . 256) ("        " . -237) (255 . 256) nil (241 . 255) nil (229 . 241) ("          " . -223) (238 . 239) nil (227 . 238) nil (211 . 227) ("        " . -193) (218 . 219) nil (213 . 218) nil (193 . 213) nil (177 . 193) ("        " . -151) (184 . 185) nil (171 . 184) nil (151 . 171) nil (135 . 151) ("      " . -130) (140 . 141) nil (130 . 140) nil (118 . 130) ("    " . -90) (121 . 122) nil (110 . 121) nil (90 . 110) nil (82 . 90) ("  " . -57) (83 . 84) nil (77 . 83) nil (57 . 77) nil (52 . 57) nil (35 . 52) nil (34 . 35) nil (21 . 34) nil (1 . 21) nil ("<% provide(:title, @user.name) %>
<h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
</h1>
" . -1) ((marker) . -34) ((marker) . -34) ((marker) . -39) ((marker) . -39) ((marker) . -69) ((marker) . -69) ((marker) . -91) ((marker) . -91) ((marker* . 268) . 1) ((marker . 1) . -96) ((marker) . -97) (t 23288 29551 172767 645000) nil undo-tree-canary))
